{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.0",
    "title": "Permitting & Licensing API",
    "contact": {
      "name": "OpenGov Permitting & Licensing API",
      "url": "https://opengov.com",
      "email": "developers@opengov.com"
    },
    "description": "The OpenGov Permitting & Licensing API provides programmatic access to Permitting & Licensing data and workflows. With this API, you can integrate with other systems, build custom applications, or automate tasks. \n\nThe API is designed around REST principles, supports JSON:API standards, and exposes resources such as records, inspections, fees, approvals, and user accounts. This documentation covers available endpoints, request and response formats, and error codes, helping developers extend and integrate OpenGov Permitting & Licensing securely and efficiently.\n",
    "license": {
      "name": "OpenGov Permitting & Licensing API",
      "url": "https://opengov.com"
    }
  },
  "x-og-spec-id": "plc-api-v2",
  "x-og-claims": {
    "PLC_RECORD_READ": "Record Read",
    "PLC_RECORD_WRITE": "Record Write",
    "PLC_RECORD_ARCHIVE": "Record Archive",
    "PLC_RECORD_STEP_READ": "Workflow Read",
    "PLC_RECORD_STEP_CREATE": "Workflow Write",
    "PLC_RECORD_STEP_UPDATE": "Workflow Write",
    "PLC_RECORD_STEP_COMMENT_READ": "Comment Read",
    "PLC_RECORD_STEP_COMMENT_WRITE": "Comment Write",
    "PLC_USER_READ": "User Read",
    "PLC_USER_WRITE": "User Write",
    "PLC_RECORD_TYPE_READ": "Record Type Read",
    "PLC_SYSTEM_CONFIG_READ": "System Config Read",
    "PLC_LOCATION_READ": "Location Read",
    "PLC_LOCATION_WRITE": "Location Write",
    "PLC_PAYMENT_READ": "Payment Read",
    "PLC_PAYMENT_WRITE": "Payment Write",
    "PLC_FILE_READ": "File Read",
    "PLC_FILE_WRITE": "File Write",
    "PLC_ACTIVITY_LOG_READ": "Activity Log Read"
  },
  "servers": [
    {
      "url": "https://api.plce.opengov.com/plce",
      "description": "Production",
      "x-og-envs": [
        "production",
        "staging",
        "development",
        "local"
      ]
    }
  ],
  "tags": [
    {
      "name": "Record",
      "description": "A Record represents a single permit or license application, code enforcement case, or business process in OpenGov Permitting & Licensing. Records are created in the Employee Portal and/or Citizen Portal and serve as the central container for all related information. This includes form data, workflows, inspections, fees, approvals, public contacts (such as applicants and guests), and associated locations."
    },
    {
      "name": "Approval Steps",
      "description": "Approval Steps are one step type that can be found in a record's workflow."
    },
    {
      "name": "Checklist Results",
      "description": "Inspection Results include Checklist Results for any checklist item that was inspected."
    },
    {
      "name": "Checklist Templates",
      "description": "A Checklist Template is a single item in an Inspection Type Template's checklist."
    },
    {
      "name": "Departments",
      "description": "A Department is a group of Record Types."
    },
    {
      "name": "Document Steps",
      "description": "Document Steps are one step type that can be found in a record's workflow."
    },
    {
      "name": "Fees",
      "description": "A Payment Step can have one or more Fees."
    },
    {
      "name": "Files",
      "description": "Files in OpenGov Permitting & Licensing are managed in a two-step process:\n\n1. **File Upload**\n   - First, create a file entry to receive a pre-signed Azure Blob Storage URL\n   - Use this URL to upload your file directly to Azure Blob Storage\n   - The file is now stored but not yet associated with any entity\n\n2. **File Association**\n   - Associate the uploaded file with an entity (currently only Record Attachments)\n   - The file is cloned when associated, allowing the same file to be reused across different entities\n   - Each association creates a new file object with its own lifecycle\n\nThis design allows for efficient file reuse while maintaining independent file management for each entity.\n"
    },
    {
      "name": "Inspection Events",
      "description": "An Inspection Event is a single inspection appointment, during which one or more Inspection Results are typically created."
    },
    {
      "name": "Inspection Results",
      "description": "An Inspection Result is created for each Inspection Type inspected during an Inspection Event."
    },
    {
      "name": "Inspection Steps",
      "description": "Inspection Steps are one step type that can be found in a record's workflow."
    },
    {
      "name": "Inspection Type Templates",
      "description": "Inspection Type Templates can be added to Inspection Workflow Step Templates."
    },
    {
      "name": "Inspection Types",
      "description": "An Inspection Record Workflow Step has one or more Inspection Types."
    },
    {
      "name": "Ledger Entries",
      "description": "A Leger Entry is created for each Fee paid or refunded in a Transaction."
    },
    {
      "name": "Location Flags",
      "description": "Location Flags can be added to individual Locations to tag them with certain characteristics."
    },
    {
      "name": "Locations",
      "description": "A Location can be added as the Primary Location or an Additional Location of a Record. A Location can be a Point, Segment, or Parcel."
    },
    {
      "name": "Organization",
      "description": "The Organization represents the entity as a whole."
    },
    {
      "name": "Payment Steps",
      "description": "Payment Steps are one step type that can be found in a record's workflow."
    },
    {
      "name": "Projects",
      "description": "Project APIs allow you to work with projects that group related records"
    },
    {
      "name": "Record Additional Locations",
      "description": "A Record can be associated with up to 99 Additional Locations.\n\nRecord Locations reference Locations.\n"
    },
    {
      "name": "Record Applicant",
      "description": "The Applicant is the public user who submitted a Record and/or the primary public contact for the Record. \n\n"
    },
    {
      "name": "Record Attachments",
      "description": "A Record can have attachments which either reference a Record Type Attachment or are ad-hoc. Each attachment can have one or more versions.\n\n"
    },
    {
      "name": "Record Change Requests",
      "description": "A Record Change Request represents a request from an employee to the applicant for changes to the form or attachments."
    },
    {
      "name": "Record Forms",
      "description": "A Record's Form is based on its Record Type.\n\nA Form is comprised of Fields which are contained within Sections. Each Field is of a specific data Type, and has a Label and a Value.\n\n"
    },
    {
      "name": "Record Guests",
      "description": "Record Guests are additional users who need visibility into the permit/license process. This could include\ncontractors, architects, property owners, or other stakeholders who need to track the application's progress,\nreceive updates, or help manage the application. For example, a homeowner (Applicant) might add their\ncontractor (Guest) to a building permit to help upload revised plans or respond to inspector comments.\n\nA record can have up to 10 Guests. The Applicant or any employee user can add Guests to a Record.\n\n"
    },
    {
      "name": "Record Primary Location",
      "description": "A Record can be associated with one Primary Location.\n\nRecord Locations reference Locations.\n"
    },
    {
      "name": "Record Type Attachments",
      "description": "Record Type Attachments are templates that define the required and optional Attachments for a Record of a particular Record Type."
    },
    {
      "name": "Record Type Document Templates",
      "description": "Record Type Document Templates provide the format and content of a particular document that should be issued in a Document Step."
    },
    {
      "name": "Record Type Fees",
      "description": "Record Type Fees define the calculation structure for individual Fees charged on Payment Steps."
    },
    {
      "name": "Record Type Form",
      "description": "The Record Type Form is the form template for records of that Record Type."
    },
    {
      "name": "Record Type Workflow",
      "description": "The Record Type Workflow is the workflow template for records of that Record Type."
    },
    {
      "name": "Record Types",
      "description": "A Record Type defines the configuration for individual Records of that Record Type."
    },
    {
      "name": "Record Workflow Step Comments",
      "description": "Step Comments APIs allow you to retrieve, add or remove comments on workflow steps of a record."
    },
    {
      "name": "Record Workflow Steps",
      "description": "A Record's Workflow is represented as a collection of **Steps**. Steps are automatically created on a Record at the time it is submitted, based on the Record Type Workflow defined for that Record's Type.\n\nSteps are instantiated on Records and can be added or deleted on individual Records, so a given Record's Steps may not always match its Workflow Template.\n"
    },
    {
      "name": "Transactions",
      "description": "A Transaction represents an individual payment or refund transaction on a Record."
    },
    {
      "name": "User Flags",
      "description": "User Flags can be added to individual Users to tag them with certain characteristics."
    },
    {
      "name": "Users",
      "description": "Users can be attached to Records as the Applicant or as a Guest."
    },
    {
      "name": "Activity Logs",
      "description": "Activity Log APIs allow you to retrieve historical changes and actions performed on entities in the system. Activity logs track create, update, soft delete, and hard delete operations. Employee access required."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Records",
      "tags": [
        "Record",
        "Record Applicant",
        "Record Guests",
        "Record Primary Location",
        "Record Additional Locations",
        "Record Forms",
        "Record Change Requests",
        "Record Attachments",
        "Record Workflow Steps",
        "Record Workflow Step Comments"
      ]
    },
    {
      "name": "Locations",
      "tags": [
        "Locations",
        "Location Flags"
      ]
    },
    {
      "name": "Users",
      "tags": [
        "Users",
        "User Flags"
      ]
    },
    {
      "name": "Approvals",
      "tags": [
        "Approval Steps"
      ]
    },
    {
      "name": "Documents",
      "tags": [
        "Issued Documents",
        "Document Steps"
      ]
    },
    {
      "name": "Inspections",
      "tags": [
        "Inspection Steps",
        "Inspection Types",
        "Inspection Events",
        "Inspection Results",
        "Checklist Results"
      ]
    },
    {
      "name": "Payments",
      "tags": [
        "Payment Steps",
        "Fees",
        "Transactions",
        "Ledger Entries"
      ]
    },
    {
      "name": "Projects",
      "tags": [
        "Projects"
      ]
    },
    {
      "name": "Files",
      "tags": [
        "Files"
      ]
    },
    {
      "name": "Configuration",
      "tags": [
        "Organization",
        "Departments",
        "Record Types",
        "Record Type Form",
        "Record Type Attachments",
        "Record Type Document Templates",
        "Record Type Fees",
        "Record Type Workflow",
        "Inspection Type Templates",
        "Checklist Templates"
      ]
    },
    {
      "name": "Activity Logs",
      "tags": [
        "Activity Logs"
      ]
    }
  ],
  "paths": {
    "/v2/{community}/approval-steps": {
      "parameters": [
        {
          "name": "community",
          "in": "path",
          "description": "Subdomain of the community",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "List approval steps",
        "description": "Retrieve approval steps that match the specified filters.\n### Permissions Required\n`Workflow Read`",
        "operationId": "listApprovalTasks",
        "x-og-claims-required": [
          "PLC_RECORD_STEP_READ"
        ],
        "tags": [
          "Approval Steps"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "Which page to return (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of records to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "filter[recordID]",
            "in": "query",
            "description": "Filter by a recordID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[label]",
            "in": "query",
            "description": "Filter by record step label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter by record step status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "REJECTED",
                "INACTIVE",
                "ACTIVE",
                "COMPLETE",
                "SKIPPED",
                "ON_HOLD"
              ],
              "description": "Status of the workflow step"
            }
          },
          {
            "name": "filter[completedAt]",
            "in": "query",
            "description": "Filter by date at which the record step was completed",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "lt": {
                      "type": "string",
                      "description": "Less than the specified date"
                    },
                    "lte": {
                      "type": "string",
                      "description": "Less than or equal to the specified date"
                    },
                    "gt": {
                      "type": "string",
                      "description": "Greater than the specified date"
                    },
                    "gte": {
                      "type": "string",
                      "description": "Greater than or equal to the specified date"
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "filter[activatedAt]",
            "in": "query",
            "description": "Filter by date at which the record step was activated",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "lt": {
                      "type": "string",
                      "description": "Less than the specified date"
                    },
                    "lte": {
                      "type": "string",
                      "description": "Less than or equal to the specified date"
                    },
                    "gt": {
                      "type": "string",
                      "description": "Greater than the specified date"
                    },
                    "gte": {
                      "type": "string",
                      "description": "Greater than or equal to the specified date"
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "filter[assigneeID]",
            "in": "query",
            "description": "Filter by the user ID of the record step assignee",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[dueBy]",
            "in": "query",
            "description": "Filter by date at which the record step is due",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "lt": {
                      "type": "string",
                      "description": "Less than the specified date"
                    },
                    "lte": {
                      "type": "string",
                      "description": "Less than or equal to the specified date"
                    },
                    "gt": {
                      "type": "string",
                      "description": "Greater than the specified date"
                    },
                    "gte": {
                      "type": "string",
                      "description": "Greater than or equal to the specified date"
                    }
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval step",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-tags": [
                          "Approvals"
                        ],
                        "title": "Approval Step",
                        "required": [
                          "type",
                          "id",
                          "attributes"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "approvalStep"
                            ],
                            "example": "approvalStep"
                          },
                          "id": {
                            "type": "string",
                            "example": "approval-step-100001"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "nullable": true,
                                "description": "Short text that describes the workflow step",
                                "example": "Plan Review and Approval"
                              },
                              "stepType": {
                                "type": "string",
                                "enum": [
                                  "APPROVAL",
                                  "PAYMENT",
                                  "INSPECTION",
                                  "DOCUMENT",
                                  "API_INTEGRATION",
                                  "ASSET_MANAGEMENT",
                                  "RELATED_RECORD",
                                  "SHADOW",
                                  "REVIEW"
                                ],
                                "description": "A value that indicates the kind of process that this step represents",
                                "example": "APPROVAL"
                              },
                              "ordinal": {
                                "type": "integer",
                                "description": "Order in which the steps are activated in the workflow",
                                "example": 1
                              },
                              "sequence": {
                                "type": "boolean",
                                "description": "",
                                "example": true
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "REJECTED",
                                  "INACTIVE",
                                  "ACTIVE",
                                  "COMPLETE",
                                  "SKIPPED",
                                  "ON_HOLD"
                                ],
                                "description": "Status of the workflow step"
                              },
                              "activatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the step was activated"
                              },
                              "completedAt": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time",
                                "description": "When the step was completed"
                              },
                              "dueBy": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "Due date"
                              }
                            }
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "step": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "ID of the related resource"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "Type of the related resource"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  },
                                  "links": {
                                    "type": "object",
                                    "description": "Links to related resources",
                                    "properties": {
                                      "self": {
                                        "type": "string",
                                        "format": "uri-reference",
                                        "description": "URL of the related resource"
                                      },
                                      "related": {
                                        "type": "string",
                                        "format": "uri-reference",
                                        "description": "URL of the related resource"
                                      }
                                    },
                                    "additionalProperties": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  }
                                }
                              },
                              "assignee": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "ID of the related resource"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "Type of the related resource"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "type"
                                    ]
                                  },
                                  "links": {
                                    "type": "object",
                                    "description": "Links to related resources",
                                    "properties": {
                                      "self": {
                                        "type": "string",
                                        "format": "uri-reference",
                                        "description": "URL of the related resource"
                                      },
                                      "related": {
                                        "type": "string",
                                        "format": "uri-reference",
                                        "description": "URL of the related resource"
                                      }
                                    },
                                    "additionalProperties": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "description": "Links to related resources in a collection",
                      "properties": {
                        "self": {
                          "type": "string",
                          "format": "uri-reference",
                          "description": "URL of the related resource"
                        },
                        "first": {
                          "type": "string",
                          "format": "uri-reference",
                          "description": "URL of the related resource"
                        },
                        "prev": {
                          "type": "string",
                          "format": "uri-reference",
                          "description": "URL of the related resource"
                        },
                        "next": {
                          "type": "string",
                          "format": "uri-reference",
                          "description": "URL of the related resource"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri-reference",
                          "description": "URL of the related resource"
                        }
                      },
                      "additionalProperties": {
                        "type": "string",
                        "format": "uri-reference",
                        "description": "URL of the related resource"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "page",
                        "size",
                        "totalPages",
                        "totalRecords"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "The current page number",
                          "example": 2
                        },
                        "size": {
                          "type": "integer",
                          "description": "Number of records per page",
                          "example": 20
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages available",
                          "example": 10
                        },
                        "totalRecords": {
                          "type": "integer",
                          "description": "Total count of records across all pages",
                          "example": 200
                        }
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "**Bad Request**: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized**: The request has not been applied because it lacks valid authentication credentials for the target resource.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid authentication",
                    "value": {
                      "errors": [
                        {
                          "id": "error-401-001",
                          "code": "UNAUTHORIZED",
                          "detail": "Authentication credentials are missing or invalid",
                          "status": "401",
                          "title": "Unauthorized"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "Insufficient permissions",
                    "value": {
                      "errors": [
                        {
                          "id": "error-403-001",
                          "code": "FORBIDDEN",
                          "detail": "You do not have sufficient permissions to access this resource",
                          "status": "403",
                          "title": "Forbidden"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**Resource not found**: The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "Resource not found",
                    "value": {
                      "errors": [
                        {
                          "id": "error-404-001",
                          "code": "NOT_FOUND",
                          "detail": "The requested resource could not be found",
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "**Not Acceptable**: The server cannot produce a response matching the list of acceptable values defined in the request's proactive content negotiation headers.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_acceptable": {
                    "summary": "Content type not acceptable",
                    "value": {
                      "errors": [
                        {
                          "id": "error-406-001",
                          "code": "NOT_ACCEPTABLE",
                          "detail": "The requested content type is not supported. Please use application/vnd.api+json",
                          "source": {
                            "header": "Accept"
                          },
                          "status": "406",
                          "title": "Not Acceptable"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error**: The server encountered an unexpected condition which prevented it from fulfilling the request.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/{community}/approval-steps/{approvalStepID}": {
      "parameters": [
        {
          "name": "community",
          "in": "path",
          "description": "Subdomain of the community",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "approvalStepID",
          "in": "path",
          "description": "ID of an approval step",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get approval step",
        "description": "Retrieve an approval step by ID.\n### Permissions Required\n`Workflow Read`",
        "operationId": "getApprovalTask",
        "x-og-claims-required": [
          "PLC_RECORD_STEP_READ"
        ],
        "tags": [
          "Approval Steps"
        ],
        "responses": {
          "200": {
            "description": "Approval step",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "x-tags": [
                        "Approvals"
                      ],
                      "title": "Approval Step",
                      "required": [
                        "type",
                        "id",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "approvalStep"
                          ],
                          "example": "approvalStep"
                        },
                        "id": {
                          "type": "string",
                          "example": "approval-step-100001"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "nullable": true,
                              "description": "Short text that describes the workflow step",
                              "example": "Plan Review and Approval"
                            },
                            "stepType": {
                              "type": "string",
                              "enum": [
                                "APPROVAL",
                                "PAYMENT",
                                "INSPECTION",
                                "DOCUMENT",
                                "API_INTEGRATION",
                                "ASSET_MANAGEMENT",
                                "RELATED_RECORD",
                                "SHADOW",
                                "REVIEW"
                              ],
                              "description": "A value that indicates the kind of process that this step represents",
                              "example": "APPROVAL"
                            },
                            "ordinal": {
                              "type": "integer",
                              "description": "Order in which the steps are activated in the workflow",
                              "example": 1
                            },
                            "sequence": {
                              "type": "boolean",
                              "description": "",
                              "example": true
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "REJECTED",
                                "INACTIVE",
                                "ACTIVE",
                                "COMPLETE",
                                "SKIPPED",
                                "ON_HOLD"
                              ],
                              "description": "Status of the workflow step"
                            },
                            "activatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When the step was activated"
                            },
                            "completedAt": {
                              "type": "string",
                              "nullable": true,
                              "format": "date-time",
                              "description": "When the step was completed"
                            },
                            "dueBy": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "description": "Due date"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "step": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the related resource"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Type of the related resource"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                "links": {
                                  "type": "object",
                                  "description": "Links to related resources",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    },
                                    "related": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string",
                                    "format": "uri-reference",
                                    "description": "URL of the related resource"
                                  }
                                }
                              },
                              "description": "Relationship to the step entity"
                            },
                            "assignee": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the related resource"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Type of the related resource"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                "links": {
                                  "type": "object",
                                  "description": "Links to related resources",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    },
                                    "related": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string",
                                    "format": "uri-reference",
                                    "description": "URL of the related resource"
                                  }
                                }
                              },
                              "description": "User assigned to the step"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "**Bad Request**: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized**: The request has not been applied because it lacks valid authentication credentials for the target resource.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid authentication",
                    "value": {
                      "errors": [
                        {
                          "id": "error-401-001",
                          "code": "UNAUTHORIZED",
                          "detail": "Authentication credentials are missing or invalid",
                          "status": "401",
                          "title": "Unauthorized"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "Insufficient permissions",
                    "value": {
                      "errors": [
                        {
                          "id": "error-403-001",
                          "code": "FORBIDDEN",
                          "detail": "You do not have sufficient permissions to access this resource",
                          "status": "403",
                          "title": "Forbidden"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**Resource not found**: The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "Resource not found",
                    "value": {
                      "errors": [
                        {
                          "id": "error-404-001",
                          "code": "NOT_FOUND",
                          "detail": "The requested resource could not be found",
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "**Not Acceptable**: The server cannot produce a response matching the list of acceptable values defined in the request's proactive content negotiation headers.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_acceptable": {
                    "summary": "Content type not acceptable",
                    "value": {
                      "errors": [
                        {
                          "id": "error-406-001",
                          "code": "NOT_ACCEPTABLE",
                          "detail": "The requested content type is not supported. Please use application/vnd.api+json",
                          "source": {
                            "header": "Accept"
                          },
                          "status": "406",
                          "title": "Not Acceptable"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error**: The server encountered an unexpected condition which prevented it from fulfilling the request.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update approval step",
        "description": "Update an approval step.\n### Permissions Required\n`Workflow Write`",
        "operationId": "updateApprovalTask",
        "x-og-claims-required": [
          "PLC_RECORD_STEP_UPDATE"
        ],
        "tags": [
          "Approval Steps"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.api+json",
              "enum": [
                "application/vnd.api+json",
                "application/json"
              ]
            },
            "description": "The Content-Type header must be set to `application/vnd.api+json` for all PUT, PATCH, and POST requests.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "id",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "approvalStep"
                        ],
                        "example": "approvalStep"
                      },
                      "id": {
                        "type": "string",
                        "example": "approval-step-100003"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "assigneeID": {
                            "type": "string",
                            "example": "user-reviewer-100004"
                          },
                          "dueBy": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Due date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "x-tags": [
                        "Approvals"
                      ],
                      "title": "Approval Step",
                      "required": [
                        "type",
                        "id",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "approvalStep"
                          ],
                          "example": "approvalStep"
                        },
                        "id": {
                          "type": "string",
                          "example": "approval-step-100001"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "nullable": true,
                              "description": "Short text that describes the workflow step",
                              "example": "Plan Review and Approval"
                            },
                            "stepType": {
                              "type": "string",
                              "enum": [
                                "APPROVAL",
                                "PAYMENT",
                                "INSPECTION",
                                "DOCUMENT",
                                "API_INTEGRATION",
                                "ASSET_MANAGEMENT",
                                "RELATED_RECORD",
                                "SHADOW",
                                "REVIEW"
                              ],
                              "description": "A value that indicates the kind of process that this step represents",
                              "example": "APPROVAL"
                            },
                            "ordinal": {
                              "type": "integer",
                              "description": "Order in which the steps are activated in the workflow",
                              "example": 1
                            },
                            "sequence": {
                              "type": "boolean",
                              "description": "",
                              "example": true
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "REJECTED",
                                "INACTIVE",
                                "ACTIVE",
                                "COMPLETE",
                                "SKIPPED",
                                "ON_HOLD"
                              ],
                              "description": "Status of the workflow step"
                            },
                            "activatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When the step was activated"
                            },
                            "completedAt": {
                              "type": "string",
                              "nullable": true,
                              "format": "date-time",
                              "description": "When the step was completed"
                            },
                            "dueBy": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "description": "Due date"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "step": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the related resource"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Type of the related resource"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                "links": {
                                  "type": "object",
                                  "description": "Links to related resources",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    },
                                    "related": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string",
                                    "format": "uri-reference",
                                    "description": "URL of the related resource"
                                  }
                                }
                              }
                            },
                            "assignee": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the related resource"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Type of the related resource"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                },
                                "links": {
                                  "type": "object",
                                  "description": "Links to related resources",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    },
                                    "related": {
                                      "type": "string",
                                      "format": "uri-reference",
                                      "description": "URL of the related resource"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string",
                                    "format": "uri-reference",
                                    "description": "URL of the related resource"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "description": "Approval updated"
          },
          "400": {
            "description": "**Bad Request**: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized**: The request has not been applied because it lacks valid authentication credentials for the target resource.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid authentication",
                    "value": {
                      "errors": [
                        {
                          "id": "error-401-001",
                          "code": "UNAUTHORIZED",
                          "detail": "Authentication credentials are missing or invalid",
                          "status": "401",
                          "title": "Unauthorized"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "Insufficient permissions",
                    "value": {
                      "errors": [
                        {
                          "id": "error-403-001",
                          "code": "FORBIDDEN",
                          "detail": "You do not have sufficient permissions to access this resource",
                          "status": "403",
                          "title": "Forbidden"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**Resource not found**: The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "Resource not found",
                    "value": {
                      "errors": [
                        {
                          "id": "error-404-001",
                          "code": "NOT_FOUND",
                          "detail": "The requested resource could not be found",
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "**Not Acceptable**: The server cannot produce a response matching the list of acceptable values defined in the request's proactive content negotiation headers.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not_acceptable": {
                    "summary": "Content type not acceptable",
                    "value": {
                      "errors": [
                        {
                          "id": "error-406-001",
                          "code": "NOT_ACCEPTABLE",
                          "detail": "The requested content type is not supported. Please use application/vnd.api+json",
                          "source": {
                            "header": "Accept"
                          },
                          "status": "406",
                          "title": "Not Acceptable"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "**Conflict**: The request could not be completed due to a conflict with the current state of the resource.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "**Unsupported Media Type**\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
                            "type": "string",
                            "description": "The HTTP status code applicable to this problem",
                            "example": "400"
                          },
                          "title": {
                            "type": "string",
                            "description": "A short summary of the problem",
                            "example": "Validation Error"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Short explanation for the specific occurrence of the problem",
                            "example": "The provided record type ID is invalid or does not exist"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unsupported_media_type": {
                    "summary": "Unsupported Content-Type header",
                    "value": {
                      "errors": [
                        {
                          "id": "error-415-001",
                          "code": "UNSUPPORTED_MEDIA_TYPE",
                          "detail": "The request Content-Type is not supported. Expected application/vnd.api+json",
                          "source": {
                            "header": "Content-Type"
                          },
                          "status": "415",
                          "title": "Unsupported Media Type"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error**: The server encountered an unexpected condition which prevented it from fulfilling the request.\n",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "status",
                          "title",
                          "detail"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this particular occurrence of the problem",
                            "example": "error-767778"
                          },
                          "status": {
[...]
